web/WEB-INF/wsdl/localhost_8080/cinema-final/OrdersWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="getTickets" type="tns:getTickets"/>

<xs:element name="getTicketsResponse" type="tns:getTicketsResponse"/>

<xs:element name="remoteValidateUser" type="tns:remoteValidateUser"/>

<xs:element name="remoteValidateUserResponse" type="tns:remoteValidateUserResponse"/>

<xs:element name="test" type="tns:test"/>

<xs:element name="testResponse" type="tns:testResponse"/>

<xs:element name="useTickets" type="tns:useTickets"/>

<xs:element name="useTicketsByTID" type="tns:useTicketsByTID"/>

<xs:element name="useTicketsByTIDResponse" type="tns:useTicketsByTIDResponse"/>

<xs:element name="useTicketsResponse" type="tns:useTicketsResponse"/>

<xs:complexType name="useTicketsByTID">
<xs:sequence>
<xs:element name="tickets" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="useTicketsByTIDResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteValidateUser">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remoteValidateUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="useTickets">
<xs:sequence>
<xs:element name="tickets" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="useTicketsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTickets">
<xs:sequence>
<xs:element name="order" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTicketsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test">
<xs:sequence>
<xs:element name="testParam" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>