web/WEB-INF/wsdl/localhost_8080/cinema-final/OrdersWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="OrdersWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/cinema-final/OrdersWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="test">
<part name="parameters" element="tns:test"/>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"/>
</message>
<message name="getTickets">
<part name="parameters" element="tns:getTickets"/>
</message>
<message name="getTicketsResponse">
<part name="parameters" element="tns:getTicketsResponse"/>
</message>
<message name="useTickets">
<part name="parameters" element="tns:useTickets"/>
</message>
<message name="useTicketsResponse">
<part name="parameters" element="tns:useTicketsResponse"/>
</message>
<message name="useTicketsByTID">
<part name="parameters" element="tns:useTicketsByTID"/>
</message>
<message name="useTicketsByTIDResponse">
<part name="parameters" element="tns:useTicketsByTIDResponse"/>
</message>
<message name="remoteValidateUser">
<part name="parameters" element="tns:remoteValidateUser"/>
</message>
<message name="remoteValidateUserResponse">
<part name="parameters" element="tns:remoteValidateUserResponse"/>
</message>
<portType name="OrdersWebService">
<operation name="test">
<input wsam:Action="http://WebService/OrdersWebService/testRequest" message="tns:test"/>
<output wsam:Action="http://WebService/OrdersWebService/testResponse" message="tns:testResponse"/>
</operation>
<operation name="getTickets">
<input wsam:Action="http://WebService/OrdersWebService/getTicketsRequest" message="tns:getTickets"/>
<output wsam:Action="http://WebService/OrdersWebService/getTicketsResponse" message="tns:getTicketsResponse"/>
</operation>
<operation name="useTickets">
<input wsam:Action="http://WebService/OrdersWebService/useTicketsRequest" message="tns:useTickets"/>
<output wsam:Action="http://WebService/OrdersWebService/useTicketsResponse" message="tns:useTicketsResponse"/>
</operation>
<operation name="useTicketsByTID">
<input wsam:Action="http://WebService/OrdersWebService/useTicketsByTIDRequest" message="tns:useTicketsByTID"/>
<output wsam:Action="http://WebService/OrdersWebService/useTicketsByTIDResponse" message="tns:useTicketsByTIDResponse"/>
</operation>
<operation name="remoteValidateUser">
<input wsam:Action="http://WebService/OrdersWebService/remoteValidateUserRequest" message="tns:remoteValidateUser"/>
<output wsam:Action="http://WebService/OrdersWebService/remoteValidateUserResponse" message="tns:remoteValidateUserResponse"/>
</operation>
</portType>
<binding name="OrdersWebServicePortBinding" type="tns:OrdersWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="test">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="useTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="useTicketsByTID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remoteValidateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrdersWebService">
<port name="OrdersWebServicePort" binding="tns:OrdersWebServicePortBinding">
<soap:address location="http://localhost:8080/cinema-final/OrdersWebService"/>
</port>
</service>
</definitions>